@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainColor:#242424;
  --subColor:#121212;
  
}

body{
  background-color: #000;
  color:#fff;
  font-family: 'Roboto', sans-serif;

}

.outlet {
  background: rgb(33,33,33);
background: radial-gradient(circle, rgba(33,33,33,1) 42%, rgba(18,18,18,1) 100%);

}

#player > div {
  background-color: var(--mainColor);
}

